.cartpage {
  display: flex;
  max-width: 1366px;
  margin: 1.5rem auto;
}

.cartpage h2 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.cartpage__left {
  flex: 0.7;
  margin-right: 1rem;
  background-color: transparent;
  padding: 0 1rem;
}

.cartpage__right {
  flex: 0.3;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  height: fit-content;
}

.cartpage__right div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.cartpage__right div:last-child {
  border: none;
}

.cartpage__info p {
  padding: 0.5rem;
}

.cartpage__right div button {
  padding: 0.6rem 1.1rem;
  width: 100%;
  background: #171717;
  color: #f4f4f4;
  border: 1px solid #171717;
  cursor: pointer;
}

.cartpage__right div button:hover {
  opacity: 0.9;
}

@media screen and (max-width: 1320px) {
  .cartpage {
    max-width: 900px;
  }
}

@media screen and (max-width: 960px) {
  .cartpage {
    max-width: 800px;
    flex-direction: column;
  }
  .cartpage__left {
    margin: 0;
  }
  .cartpage__right {
    margin: 1rem;
  }
}
